* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
    font-family: sans-serif;
}

div#root {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}

nav.sidebarMenu {
    background-color: rgb(52, 176, 248);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 10px;
    --li-font-size: 1.8rem;
}

nav.sidebarMenu a {
    text-decoration: none;
    color: white;
    font-size: var(--li-font-size);
    font-weight: bold;
}

nav.sidebarMenu svg.menuIcon{
    width: var(--li-font-size);
    height: var(--li-font-size);
}

nav.sidebarMenu a#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    margin-top: 10px;
    padding: 0 10px;
}

nav.sidebarMenu a#logo svg.dashboardIcon {
    width: 48px;
    height: 48px;
}

